/*
Styles the problems page

Change log
==========

18/2/17 - Gareth Nunns
Adjusted for different rowspans

14/2/17 - Gareth Nunns
Added changelog

*/

.problems {
	th, td {
		text-align: left;
	}

	tr:nth-of-type(3n+2), tr:nth-of-type(3n+3) {
		cursor: pointer;
	}

	tr:nth-of-type(3n+2) td:nth-of-type(1), tr:nth-of-type(3n+2) td:nth-of-type(2) {
		font-weight: bold;
	}

	@include breakpoint(small-tablet) {
		tr:nth-of-type(3n+2) td:nth-of-type(3), th:nth-of-type(3),
		tr:nth-of-type(3n+2) td:nth-of-type(4), th:nth-of-type(4) {
			display: none;
		}
	}

	@include breakpoint(phone) {
		tr:nth-of-type(3n+2) td:nth-of-type(4), th:nth-of-type(4),
		tr:nth-of-type(3n+2) td:nth-of-type(n+6), tr:nth-of-type(3n+3) td:nth-of-type(2), 
		tr:nth-of-type(3n+3) td:nth-of-type(3), th:nth-of-type(3) {
			display: none;
		}
	}

	.numCalls {
		text-align: center;

		span {
			font-size: $font-size-h1;
		}
	}

	.responses {
		.assign {
			text-align: center;
		}

		.response {
			margin-bottom: $md-pad;
			@include clearfix;

			.staff {
				float: left;
				width: 160px;
				padding: 6px 20px 0 0;

				@include breakpoint(small-tablet) {
					float: none;
					width: 100%;
					padding: 0;
				}
			}

			.notes {
				margin-left: 200px;

				h3:first-of-type {
					margin-top: 0;
				}

				@include breakpoint(small-tablet) {
					margin-left: 0;
				}
			}
		}
	}
}