.software {
	tr:nth-of-type(2n+2) {
		cursor: pointer;
	}

	tr:nth-of-type(2n+2) td:nth-of-type(1) {
		font-weight: bold;
	}

	@include breakpoint(small-tablet) {
		th:nth-of-type(3), tr:nth-of-type(2n) > *:nth-of-type(3) { // OS column
			display: none;
		}
	}

	@include breakpoint(phone) {
		th:nth-of-type(4), tr:nth-of-type(2n) > *:nth-of-type(4), // license column
		tr:nth-of-type(2n+2) > td:nth-of-type(6) { // solved column
			display: none;
		}
	}
}