@charset 'utf-8';

@import 'compass/css3';
@import "compass/utilities/general/clearfix";
@import 'mixins', 'marx'; // basis for styling

@import url('https://fonts.googleapis.com/css?family=Raleway:200,400,700');

:root, body {
	height: 100%;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	height: 60px;
	padding: 10px 0;
	background-color: $primary;
	color: $white;
	text-align: center;
	z-index: 10;

	img {
		height: 36px;
	}

	.home {
		position: absolute;
		left: 0;
		top: 12px;
	}

	.logo {
		padding: 12px 0;
	}
}

.wrapper {
	position: relative;
	margin: 0 auto;
	width: 96%;
	max-width: 1000px;
}

body > .wrapper {
	padding-top: 90px; // compensate for 80px header
}

@import 'grid';

.error {
	font-weight: 700;
	color: $red;
}

#login {
	text-align: center;
}