@charset 'utf-8';

@import 'compass/css3';
@import "compass/utilities/general/clearfix";
@import 'mixins', 'marx'; // basis for styling

@import url('https://fonts.googleapis.com/css?family=Raleway:200,400,700');

:root, body {
	height: 100%;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	padding: 10px 0;
	height: 60px;
	background-color: $accent;
	color: white;
	text-align: center;
	z-index: 10001;

	@include breakpoint(small-tablet) {
		position: static;
		padding: 20px 0 0 0;
		height: auto;
		text-align: right;
	}

	img {
		height: 36px;
		margin: 0;
	}

	.home {
		position: absolute;
		left: 0;
		top: 12px;

		@include breakpoint(small-tablet) {
			top: 0;
		}
	}

	.logo {
		position: relative;
		left: 0;
		padding: 12px 0;

		@include single-transition(all, 0.25s, ease-out, 0s);

		@include breakpoint(small-tablet) {
			padding: 0 0 15px 0;
		}

		&.searching {
			@include breakpoint(tablet) {
				left: -100px;
			}
			@include breakpoint(small-tablet) {
				left: 0;
			}
		}
	}

	.right-buttons {
		position: absolute;
		right: 0;
		top: 12px;

		@include breakpoint(small-tablet) {
			position: static;
		}

		@include breakpoint(phone) {
			text-align: center;
		}

		a {
			padding: 2px;
			margin-left: 10px;
		}

		form { // form is just there for fallback
			display: inline;
		}

		input { // search button
			margin-bottom: 20px; // I don't understand why
			padding: 2px;
			width: 32px;
			height: 32px;

			background: transparent url(../img/icons/search-small.png) no-repeat right center;
			border: none;
			border-bottom: 1px solid transparent;
			border-radius: 0;
			color: white;
			@include single-transition(all, 0.25s, ease-out, 0s);

			&:focus {
				width: 200px;
				border: none;
				outline: none;
				border-bottom: 1px solid white;

				@include breakpoint(phone) {
					width: 150px;
				}
			}
		}
	}
}

.wrapper {
	position: relative;
	margin: 0 auto;
	width: 96%;
	max-width: 1000px;

	&#content {
		padding-bottom: 15px;
	}
}

body > .wrapper {
	padding-top: 90px; // compensate for 80px fixed header

	@include breakpoint(small-tablet) {
		padding-top: 0;
	}
}

@import 'grid', 'call', 'problems', 'specialists', 'software', 'hardware', 'settings';

// login page

.error {
	font-weight: 700;
	color: $red;
}

#login {
	text-align: center;
}

table {
	.numProbs { // is used in many tables
		text-align: center;

		span {
			font-size: $font-size-h1;
		}
	}
}

button.delete {
	background-color: $red;

	&:hover, &:focus {
		background-color: darken($red,10%);
	}
}

a.delete {
	color: $red;

	&:hover, &:focus {
		color: darken($red,10%);
	}
}